node_modules
dist
.output
.git
.gitignore
Dockerfile
docker-compose.yml
docker-compose.prod.yml
pnpm-debug.log
.env.local
.env.*
*.swp
*.log
README.md
DEPLOYMENT.md
.github
.vscode
.idea
*.test.*
*.spec.*
coverage
.storybook
storybook-static